<template>
  <button @click="click">
    {{ this.val }}
  </button>
</template>

<script>
export default {
  props: ['assign', 'val'],
  methods: {
    click() {
      if(this.assign != 'equal' && this.assign != 'clear')
        this.$store.dispatch('newNum', this.val);
      else if(this.assign == 'clear')
        this.$store.dispatch('clear');
      else
        this.$store.dispatch('equal');
    }
  }
}
</script>

<style lang="css">
</style>
