<template>
  <div class="container">
    <div class="row">
      <result />
      <div>
        <btn class="col-lg-3 col-md-3 col-sm-3 col-xs-3" assign="clear" val="AC" />
        <btn class="col-lg-6 col-md-6 col-sm-6 col-xs-6" assign="num" val="Гандон" />
        <btn class="col-lg-3 col-md-3 col-sm-3 col-xs-3" assign="oper" val="*" />
      </div>
      <div>
        <btn class="col-lg-3 col-md-3 col-sm-3 col-xs-3" assign="num" val="1" />
        <btn class="col-lg-3 col-md-3 col-sm-3 col-xs-3" assign="num" val="2" />
        <btn class="col-lg-3 col-md-3 col-sm-3 col-xs-3" assign="num" val="3" />
        <btn class="col-lg-3 col-md-3 col-sm-3 col-xs-3" assign="oper" val="/" />
      </div>
      <div>
        <btn class="col-lg-3 col-md-3 col-sm-3 col-xs-3" assign="num" val="4" />
        <btn class="col-lg-3 col-md-3 col-sm-3 col-xs-3" assign="num" val="5" />
        <btn class="col-lg-3 col-md-3 col-sm-3 col-xs-3" assign="num" val="6" />
        <btn class="col-lg-3 col-md-3 col-sm-3 col-xs-3" assign="oper" val="+" />
      </div>
      <div>
        <btn class="col-lg-3 col-md-3 col-sm-3 col-xs-3" assign="num" val="7" />
        <btn class="col-lg-3 col-md-3 col-sm-3 col-xs-3" assign="num" val="8" />
        <btn class="col-lg-3 col-md-3 col-sm-3 col-xs-3" assign="num" val="9" />
        <btn class="col-lg-3 col-md-3 col-sm-3 col-xs-3" assign="oper" val="-" />
      </div>
      <div>
        <btn class="col-lg-6 col-md-6 col-sm-6 col-xs-6" assign="num" val="0" />
        <btn class="col-lg-3 col-md-3 col-sm-3 col-xs-3" assign="num" val="," />
        <btn class="col-lg-3 col-md-3 col-sm-3 col-xs-3" assign="equal" val="=" />
      </div>
    </div>
  </div>
</template>

<script>
import Button from './Button.vue';
import Result from './Result.vue';

export default {
  components: {
    'btn': Button,
    'result': Result
  }
}
</script>

<style lang="css" scoped>
.container {
  max-width: 300px;
}
</style>
