<template>
  <div class="main">
    <calc />
  </div>
</template>

<script>
import Calculator from './Calculator.vue';

export default {
  components: {
    'calc': Calculator
  }
}
</script>

<style lang="css">
</style>
