<template>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 upper">
    <h5 class="text-right">{{ this.maths }}</h5>
    <h4 class="text-right">{{ this.number }}</h4>
  </div>
</template>

<script>
export default {
  computed: {
    maths() {
      return this.$store.getters.maths
    },
    number() {
      return this.$store.getters.number
    }
  }
}
</script>

<style lang="" scoped>
.upper {
  background: #262523;
}

h4 {
  color: #EABD27;
}
</style>
